@import "tailwindcss";



:root {
  background-color: #0A0A0C; 
  color: white;
}

::-webkit-scrollbar {
  width: 6px;  
  height: 6px; 
}

::-webkit-scrollbar-track {
  background: #121A21; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1); 
  border: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(59, 130, 246, 0.4); 
}


* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) #121A21;
}